<h1>Pages#info</h1>
<p>Hi I am Randy</p>
<p>
<p>I am married to <font face='garamond'><i><b>JULIE</b></i></font></p>
<p>
<p>This is an experiiment in using <font face='ariel'><i>Ruby on Rails</i></font></p>
